<span class="label">{{ node_info.node_id.label }}</span> {{node_info.node_id.value}}<br>
<span class="label">{{ node_info.node_type.label }}</span> {{node_info.node_type.value}}<br>
<span class="label">{{ node_info.created.label }}</span> {{node_info.created.value.created_on.value}}<br>
<span class="label">{{ node_info.created.value.created_by.label }}</span> {{node_info.created.value.created_by.value}}<br>
<span class="label">{{ node_info.updated.label }}</span> {{node_info.updated.value.updated_on.value}}<br>
<span class="label">{{ node_info.updated.value.updated_by.label }}</span> {{node_info.updated.value.updated_by.value}}<br>
<span class="label">{{ node_info.published.label }}</span> {{node_info.published.value}}<br>
<span class="label">{{ node_info.promoted.label }}</span> {{node_info.promoted.value}}<br>
<span class="label">{{ node_info.stickied.label }}</span> {{node_info.stickied.value}}<br>
<span class="label">{{ node_info.commenting.label }}</span> {{node_info.commenting.value}}<br>

